body {
	margin: 0;
	padding: 0;
	background-color: #8dbec4;
}

#welcome {
	text-align: center;
	font-size: 3.2vw;
	margin: 2.5vw;
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}

.planner-area {
	margin: 0 auto;
	background-color: #f7dcbf;
	border-radius: 25px;
	width: 80%;
	padding: 30px;
}

.plan-card-area {
	text-align: center;
}

.plan-card-area-header {
	background-color: #a0a3aa;
	width: 230px;
	height: 10px;
	float: top;
}

.plan-card-day-text{
	font-size: 2.5vw;
	font-weight: bolder;
	margin: 2em 0 2em 0;
	font-family: Bahnschrift;
}

.plan-card-line {
	margin: 5px auto;
	width: 100px;
	height: 7px;
}

#parent {
	margin: 10px 15px 10px 15px;
}

.plan {
	font-family: Arial;
	width: 230px;
	height: 230px;
	/*padding: 1%;*/
	box-shadow: 5px 5px 15px grey;
	display: inline-block;

}
#parent:nth-of-type(10n+1){
	background-color:  #008398;
}
#parent:nth-of-type(10n+2){
	background-color:  #ff554a;
}
#parent:nth-of-type(10n+3){
	background-color:  #ffc300;
}
#parent:nth-of-type(10n+4){
	background-color: #00adc2;
}
#parent:nth-of-type(10n+5){
	background-color:  #ff7569;
}
#parent:nth-of-type(10n+6){
	background-color:  #008398;
}
#parent:nth-of-type(10n+7){
	background-color:  #ff554a;
}
#parent:nth-of-type(10n+8){
	background-color:  #ffc300;
}
#parent:nth-of-type(10n+9){
	background-color:  #00adc2;
}
#parent:nth-of-type(10n+10){
	background-color:  #ff7569;
}


.errorlist {
	color: white;
	font-size: 3px;
}

.btn-home {
	background-color: #794465;
    font-size: 3vw;
    color: white;
    position: fixed;
	border: none;
	box-shadow: 5px 8px 10px #545454;
	border-radius: 50%;
    bottom: 9%;
    right:3%;
    height: 8%;
    width: 4%;
}

.view-btn {
	font-family: Arial;
	background-color: #a2ffb5;	
	border: none;
	width: 100px;
	height: 35px;
}

a:link{
  color:black;
}
a:visited{
  color:black;
}
a:hover{
  color:black;
}
a:focus{
  color:black;
}
a:active{
  color:black;
}
